.menu{
    display: flex;
    justify-content: space-around;
    background-color: rgba(210, 130, 130, 0.932);
    color: rgb(204, 206, 208);
    
}
.link{
    color: blueviolet;
    text-decoration: none;
    font-weight: 900;
    text-align: center;
    justify-content: center;
}
.link:hover{
    background-color: rgba(0, 0, 0, 0.519);
    color: white;
}